.main{
    color:red;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}
.navbar{
    text-align: center;

}
.ul { display: inline-block; text-align: left; 
}

.navbar2{
    padding: 5px;
}
.color{
    color: royalblue;
}
.bold{
    font-weight: bold;
}
.main2{
    text-align: center;
    font-size: 30px;
    color: purple;
}
